body{
    font-family: sans-serif;
    background: #cfcfcf;
}
.logo{
    text-align: center;
    font-size: 60px;
}
.menu>ul>li{
    list-style: none;
    float: left;
}
.menu>ul>li>a{
    color:#15073e;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 14px;
    font-size:19px;
}
.rojo{
    color: red;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 24px;
}
.espacio{
    padding: 20px 0;
}
.azul{
    background: #15073e;
    padding: 60px 0;
}
.parrafo2{
    color:#fff;
}
.pedido{
    background: red;
    color: #fff;
    padding: 8px 12px;
    display: block;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    width: 100px;
}
.menu2{
    overflow: hidden;
}
.menu2 li{
    float: left;
    list-style: none;
}
.menu2 li a{
    color: red;
    text-decoration: none;
    padding: 4px 5px;
    display: block;
    font-weight: 700;
    font-size: 20px;
}
.azul2{
    background: #15073e;
    padding: 40px 0;
}

body {
    font-family: 'roboto';´
    background: #ECE9E6; 
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}

h1{
    text-align: center;
    font-weight: 700;
}
form{
    background-color: rgb(255, 255, 255);
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 2555, 255, 0.8);
    border-radius: 10px;
}
.form{
    width: 100%;
    margin: auto;
}
form . grupo{
    position: relative;
    margin: 45px ;
}
input{
    background-color: none;
    color: #c6c6c6;
}